:root{
    font-size: 100%;
    --color-red : #BB2323;
    --color-gray : #BFBFBF;
    --color-gray2 : #828282;
    --color-orange: #F87F28;
    --color-white: #fff;
    --color-dark-gray: rgba(173, 181, 189, 0.16);
    --color-dark-gray2: #2C2C2C;
    --color-dark-gray3: #232323;
}

#section{
    max-width: 1860px;
    margin: 0 auto;
    background-image: url(picture/geeknius-dark.webp);
}

body{
    background-color: var(--color-dark-gray3);
    margin: 0;
    background-repeat: no-repeat;
}

header{
    display: flex;
    align-items: center;
    margin: 0;
}

header > p:first-child{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.25rem;
    color: var(--color-white);
    margin: 0;
    margin-top: 1.375rem;
    margin-left: 3.875rem;
}

.little{
    width: 441px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-white);
    margin: 0;
}

.paragraph{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: var(--color-white);
    margin: 0;
}

header > img:nth-child(2){
    margin: 0;
    margin-top: 1.9375rem;
    margin-left: 6.0625rem;
}

header > p:nth-child(3){
    width: 171px;
    margin: 0;
    margin-top: 1.875rem;
    margin-left: 0.4375rem;
}

header > img:nth-child(4){
    margin: 0;
    margin-top: 2.0625rem;
    margin-left: 2.0519rem;
}

header > p:nth-child(5){
    width: 322px;
    margin: 0;
    margin-top: 1.875rem;
    margin-left: 0.875rem;
}

header > img:nth-child(6){
    margin: 0;
    margin-top: 2.0625rem;
    margin-left: 57.9375rem;
}

#fullstack > p {
    margin: 0;
}

#fullstack{
    margin: 0;
    margin-top: 0.375rem;
    margin-bottom: 1.1875rem;
    
}

#fullstack > p:first-child {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    color: var(--color-white);
    margin: 0;
    margin-left: 0.3125rem;
}

.line{
    width: 73px;
    border-top: 3px solid var(--color-orange);
    margin: 0;
    margin-left: 0.375rem;
    margin-top: 0.8125rem;
}

#fullstack > p:nth-child(3){
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--color-white);
    font-size: 4.5rem;
    line-height: 6.3rem;
    letter-spacing: -0.1875rem;
    margin: 0;
    margin-top: 1.25rem;
}

h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: var(--color-orange);
    font-size: 4.5rem;
    line-height: 6.3rem;
    letter-spacing: -0.0625rem;
    margin: 0;
    margin-top: 0.125rem;
    margin-left: 0.125rem;
}

#fullstack > .little:nth-child(5){
    width: 441px;
    margin: 0;
    margin-top: 1rem;
    margin-left: 0.3125rem;
}

#fullstack > .little:nth-child(6){
    margin: 0;
    margin-top: 1.5rem;
    margin-left: 5px;
}

.button > a {
    width: 123px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-decoration: none;
    border-radius: 3.125rem;
    margin: 0;
    padding: 0.75rem 2rem 0.6875rem 2rem  ;
    box-sizing: border-box;
    background-color: var(--color-red);
    color : var(--color-white);
    display: inline-block;
}

#flex{
    display: flex;
}

#flex > .button{
    margin: 0;
    margin-top: 3.75rem;
    margin-bottom: 1.1875rem;
}

#flex > .button:last-child > a{
    width: 131px;
    margin: 0;
    margin-left: 1.4375rem;
    background-color: transparent;
    border: 0.125rem solid var(--color-orange);
    color: var(--color-orange);
    padding: 0.625rem 1.8125rem 0.5625rem 2.1875rem ;
}

#wrapper1{
    width: 1473px;
    display: grid;
    grid-template-columns: 44.25rem 47.8125rem;
    grid-template-rows: 32.875rem 22.0625rem;
    margin: 0;
    margin-top: 5.625rem;
    margin-left: 24.125rem;
}

#client{
    display:block;
    width: 1042px;
    text-align: center;
    margin-top: 13.375rem;
    margin-left: 3.525rem;
}

#client > p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.92rem;
    letter-spacing: 0.1875rem;
    color: var(--color-gray);
    text-transform: uppercase;
    margin: 0;
}

#company > img:first-child{
    margin: 0;
    margin-top: 24,0.5rem;
    margin-bottom: 2.9275rem;
}

#company > img:nth-child(2){
    margin: 0;
    margin-top: 0.4706rem;
    margin-left: 3.7631rem;
    margin-bottom: 2.0612rem;
}

#company > img:nth-child(3){
    margin: 0;
    margin-top: 0.3125rem;
    margin-left: 1.4063rem;
    margin-bottom: 0.6875rem;
}

#company > img:nth-child(4){
    margin: 0;
    margin-top: 0.2669rem;
    margin-left: 0.8219rem;
    margin-bottom: 0.6081rem;
}

#company > img:nth-child(5){
    margin: 0;
    margin-top: 2.375rem;
    margin-left: 2.6625rem;
    margin-bottom: 2.875rem;
}

#company > img:nth-child(6){
    margin: 0;
    margin-top: 2.4688rem;
    margin-left: 2.0038rem;
    margin-bottom: 2.8438rem;
}

h4{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.4rem;
    color: var(--color-white);
    margin: 0;
    margin-top: 1.1875rem;
    margin-bottom: 1rem;
}

#skill{
    display: flex;
    margin: 0;
    margin-top: 7.25rem;
    margin-left: 25.1875rem;
}

h2{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 3.75rem;
    color: var(--color-white);
    margin: 0;
}

#competences > h2{
    width: 249px;
    margin: 0;
    margin-top: 13.25rem;
    margin-left: 50.5625rem;
}

#competences > .line{
    margin-top: 0.5625rem;
    margin-left: 55.875rem;
}

#competences > p{
    width: 342px;
    margin: 0;
    margin-left: 47.625rem;
    margin-top: 2.25rem;
    text-align: center;
}

#technique{
    width: 194px;
}

#gestion{
    width: 176px;
    margin-left: 5.8125rem;
}

#management{
    width: 191px;
    margin-left: 7rem;
}

#langues{
    width: 195px;
    margin-left: 6.0625rem;
}

#wrapperfolio{
    display: grid;
    grid-template-columns: 23.75rem 45.6875rem;
    grid-template-rows: 18.125rem 18rem 16.5rem;
    margin: 0;
    margin-top: 20.25rem;
    margin-left: 23.4375rem;
}

#wrapperfolio > h2, #wrapperfolio > .line, #wrapperfolio > .paragraph{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#wrapperfolio > img:nth-child(4) , #wrapperfolio > img:nth-child(5){
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
} 

#wrapperfolio > img:nth-child(6) , #wrapperfolio > img:nth-child(7){
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
} 

#wrapperfolio > img:nth-child(8) , #wrapperfolio > img:nth-child(9){
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
} 

#wrapperfolio > img:nth-child(4){
    margin: 0;
    margin-top: 0.1875rem;
}

#wrapperfolio > img:nth-child(5){
    margin: 0;
    margin-left: 31.5rem;
}

#wrapperfolio > img:nth-child(7){
    margin: 0;
    margin-bottom: 1.5rem;
    margin-left: 15.75rem;
}

#wrapperfolio > img:nth-child(9){
    margin: 0;
    margin-left: 23.3125rem;
}

#wrapperfolio > .line{
    margin: 0;
    margin-top: 4.0625rem;
    margin-left: 0.125rem;
}

#wrapperfolio > .paragraph{
    width: 296px;
    margin: 0;
    margin-top: 6.0756rem;
    margin-left: 0.4375rem;
}

#experience > h2{
    width: 249px;
    margin: 0;
    margin-top: 2.1875rem;
   
}
#experience > .line{
    margin: 0;
    margin-top: 1rem;
}
#experience > .paragraph:nth-child(3){
    width: 242px;
    margin: 0;
    margin-top: 1.9375rem;
}

#containerexperience > .button > a {
    width: 194px;
    font-family: 'Inter', sans-serif;
    padding: 0.75rem 2rem 0.6875rem 2rem;
    text-align: center;
}

#containerexperience > .button{
    margin: 0;
    margin-top: 17.8125rem;
    grid-row-start: 1;
    grid-column-start: 1;
}

h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.05rem;
    color: var(--color-white);
    text-transform: uppercase;
    margin: 0;
    margin-top: 0.4375rem;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    letter-spacing: 0.125rem;
}

h3{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: var(--color-white);
    text-transform: capitalize;
    margin: 0;
    margin-top: 2.25rem;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.cv > img{
    margin: 0;
    margin-top: 0.4375rem;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.cv > .paragraph{
    width: 302px;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.cv{
    width: 747px;
    display: grid;
    grid-template-columns: 3.1875rem 20.1875rem 23.3125rem;
    grid-template-rows: 8.4375rem 0.0625rem;
    border-bottom: 0.0625rem solid var(--color-dark-gray);
}

#experience{
    width: 365px;
    margin: 0;
    grid-column-start: 1;
    grid-row-start: 1;
}

#containercv{
    width: 747px;
    margin: 0;
    box-sizing: border-box;
    grid-column-start: 2;
}

#containerexperience{
    display: grid;
    margin: 0;
    margin-top: 12.625rem;
    margin-left: 24.375rem;
    grid-template-columns: 22.8125rem 46.75rem;
}

#containercv > .cv:first-child{
    margin-top: 0rem;
}

#containercv > .cv:nth-child(2){
    margin-top: 2.1875rem;
}

#containercv > .cv:nth-child(3){
    margin-top: 2.0625rem;
}

.textblock{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: var(--color-white);
    margin: 0;
    margin-top: 1.125rem;
    margin-bottom: 1.125rem;
}

.block{
    background-color: var(--color-dark-gray2);
    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.buttonblock{
    width: 55px;
    font-family: 'inter', sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-decoration: none;
    border-radius: 0.75rem;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--color-orange);
    color : var(--color-dark-gray2);
    display: inline-block;
    text-align: center;
}

.textblock{
    margin: 0;
    margin-top: 1.125rem;
    margin-bottom: 1.125rem;
}

#competences2{
    display: grid;
    grid-template-columns: 18.6875rem 29.3125rem 20.9375rem;
    grid-template-rows: 4.25rem 5.25rem 5.25rem 5.25rem;
    margin-top: 17.3975rem;
    margin-left: 24.375rem;
}

#competences2 >:nth-child(4){
    width: 299px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    margin-top: 0.5rem;
}

#competences2 >:nth-child(4) > .textblock{
    width: 93px;
    margin-left: 2rem;
    margin-right: 3.0625rem;
}

#competences2 >:nth-child(5){
    width: 350px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    margin-left: 1.5625rem;
    margin-top: 0.5rem;
}

#competences2 >:nth-child(5) > .textblock{
    width: 42px;
    margin-left: 1.4375rem;
    margin-right: 10.1875rem;
}

#competences2 >:nth-child(6){
    width: 226px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    margin-top: 1.5rem;
}

#competences2 >:nth-child(6) > .textblock{
    width: 72px;
    margin-left: 1.625rem;
    margin-right: 0.5062rem;
}

#competences2 >:nth-child(7){
    width: 301px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 15.6875rem;
    margin-top: 1.5rem;
}

#competences2 >:nth-child(7) > .textblock{
    width: 90px;
    margin-left: 1.975rem;
    margin-right: 3.3125rem;
}

#competences2 >:nth-child(8){
    width: 287px;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    margin-top: 1.5rem;
}

#competences2 >:nth-child(8) > .textblock{
    width: 96px;
    margin-left: 1.875rem;
    margin-right: 2.875rem;
}

#competences2 >:nth-child(9){
    width: 287px;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    margin-left: 1.4375rem;
    margin-top: 1.5rem;
}

#competences2 >:nth-child(9) > .textblock{
    width: 116px;
    margin-left: 1.7944rem;
    margin-right: 1.625rem;
}

#competences2 >:nth-child(10){
    width: 482px;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 1.5rem;
}

#competences2 >:nth-child(10) > .textblock{
    width: 68px;
    margin-left: 2rem;
    margin-right: 16.0625rem;
}

#competences2 > h2{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
    margin-top: 1.75rem;
}

#competences2 > .paragraph{
    width: 367px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
    margin-top: 4.25rem;
    }
  
#competences2 > .line{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
    margin-top: 1.8125rem;
}

#temoignages{
    display: grid;
    grid-template-columns: 10.625rem 42.3125rem;
    grid-template-rows: 8.9375rem 8.375rem 4.525rem;
    margin: 0;
    margin-top: 16.125rem;
    margin-left: 31.375rem;
}

#temoignages > h2{
    width: 419px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 0;
    margin-left: 3.0625rem;
    text-align: center;
}

#temoignages > img:last-child{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

#temoignages > img:nth-child(7){
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    margin: 0;
    margin-top: 0.875rem;
    margin-left: 0.625rem;
}

#temoignages > p:nth-child(3){
    width: 677px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 2.2313rem;
    color: var(--color-white);
    font-style: italic;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 0;
}

#temoignages > p:nth-child(5){
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.575rem;
    color: var(--color-white);
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 0;
    margin-top: 1.2725rem;
}

#temoignages > p:nth-child(6){
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.4rem;
    color: var(--color-white);
    letter-spacing: 0.0313rem;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 0;
    margin-top: 3.21rem;
}

#temoignages > .line:nth-child(2){
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 0;
    margin-top: 4.5625rem;
    margin-left: 13.875rem;
}

#temoignages > .line:nth-child(4){
    width: 38px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 0;
    margin-top: 8.25rem;
}

#actualites{
    display: grid;
    grid-template-columns: 16.7312rem 46.9375rem;
    grid-template-rows: 1.1656rem 1.645rem 2.4544rem 5.4575rem 1.4112rem 2.3919rem 5.4319rem 1.4112rem 2.3919rem 3rem;
    margin-top: 18.5506rem;
    margin-left: 23.9375rem;
}

#actualites > h2{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    margin: 0;
}

#actualites > h6{
    color: var(--color-orange);
    margin: 0;
}

#actualites > h3{
    margin: 0;
}

#actualites > .line{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    margin: 0;
    margin-top: 2.0731rem;
}

#actualites > .paragraph{
    width: 522px;
    margin: 0;
}

#actualites > h6:nth-child(3){
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
   
}

#actualites > h3:nth-child(4){
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
}

#actualites > p:nth-child(5){
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 2;
}

#actualites > h6:nth-child(6){
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 2;
}

#actualites > h3:nth-child(7){
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 2;
}

#actualites > p:nth-child(8){
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 2;
}

#actualites > h6:nth-child(9){
    grid-row-start: 8;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 2;
}

#actualites > h3:nth-child(10){
    grid-row-start: 9;
    grid-row-end: 9;
    grid-column-start: 2;
    grid-column-end: 2;
}

#actualites > p:nth-child(11){
    grid-row-start: 10;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 2;
}

#contact > .titreinfo{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: var(--color-orange);
    letter-spacing: -1%;
    margin: 0;
    text-transform: capitalize;
}

#contact > .info{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--color-white);
    letter-spacing: -1%;
    margin: 0;
}

#contact > .textcontour{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.4875rem;
    color: var(--color-white);
    background-color: var(--color-dark-gray3);
    height: 1.5rem;
    margin: 0;
    padding-left: 0.1875rem;
    padding-right: 0.5rem;
}

#contact > .button > a {
    width: 165px;
    font-family: 'Inter', sans-serif;
    padding: 0.6875rem 2rem 0.75rem 2rem;
    text-align: center;
}

#contact{
    display: grid;
    grid-template-columns: 2.625rem 33rem 33.75rem;
    grid-template-rows: 29.0625rem 2.9375rem;
    margin-top: 24.79rem;
    margin-left: 25.125rem;
    margin-bottom: 8.5rem;
}

#contact > h2{
    color: var(--color-gray);
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 0;
    margin-top: 2.1875rem;
}

#contact img{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

#contact > .info , #contact > .titreinfo{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 0;
    margin-left: 1.5rem;
}

#contact > .info:nth-child(12), #contact > .paragraph, #contact >.textcontour, #contact > .contour, #contact > h6{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
    margin: 0;
} 

#contact > .button{
    margin: 0;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
}

#contact > .contour:nth-child(14){
    width: 253px;
    height:50px;
    margin: 0;
    margin-top: 13rem;
}

#contact > .contour{
    border: 0.0625rem var(--color-gray2) solid;
    border-radius: 0.25rem;
}

#contact > .contour:nth-child(15){
    width: 251px;
    height:3.125rem;
    margin-top: 13rem;
    margin-left: 18.0625rem;
}

#contact > .contour:nth-child(16){
    width: 540px;
    height: 9.6875rem;
    margin-top: 17.625rem;
}

#contact > img:nth-child(2){
    margin-top: 7.5625rem;
}

#contact > img:nth-child(5){
    margin-top: 17rem;
}

#contact > img:nth-child(8){
    margin-top: 23.9375rem;
}

#contact > .titreinfo:nth-child(3){
    margin-top: 7.8125rem;
}

#contact > .titreinfo:nth-child(6){
    margin-top: 17.25rem;
}

#contact > .titreinfo:nth-child(9){
    margin-top: 24.1875rem;
}

#contact > .info:nth-child(4){
    width: 18rem;
    margin-top: 9.6875rem;
}

#contact > .info:nth-child(7){
    margin-top: 18.875rem;
}

#contact > .info:nth-child(10){
    margin-top: 25.8125rem;
}

#contact > .info:nth-child(12){
    margin-top: 1.8125rem;
}

#contact > .paragraph:nth-child(13){
    margin-top: 6.5625rem;
}

#contact > .textcontour:nth-child(17){
    width: 78px;
    margin-top: 12.1875rem;
    margin-left: 0.9375rem;
}

#contact > .textcontour:nth-child(18){
    width: 77.24px;
    margin-top: 12.1875rem;
    margin-left: 18.985rem;
}

#contact > .textcontour:nth-child(19){
    width: 70px;
    margin-top: 16.8125rem;
    margin-left: 0.9375rem;
}


@media (max-width: 375px) {

    header > img:nth-child(2), header > .little, header > img:nth-child(4), #olivier > img:first-child, .cv > .paragraph, #competences2, #temoignages > .line:nth-child(4), #temoignages > img, header > img:nth-child(6), #contact > h6{
        display: none;
    }

    #wrapper1,#client, #competences, #competences > h2, #competences > .line, #competences > p, #skill, #skill > #technique, #skill > #management, #skill > #langues, #skill > #gestion, #wrapperfolio,  #wrapperfolio > img, #wrapperfolio > .line, #wrapperfolio > .paragraph, #wrapperfolio > img:nth-child(5), #wrapperfolio > img:nth-child(7), #wrapperfolio > img:nth-child(8), #wrapperfolio > img:nth-child(9), #containerexperience,  #experience > h2, .cv > img, .cv > h6, .cv > h3, #containercv > .cv:first-child,  #containercv > .cv:nth-child(2), #containercv > .cv:nth-child(3), #temoignages, #temoignages > .line:nth-child(2), #temoignages > p:nth-child(3),  #actualites > .paragraph, #contact > .contour:nth-child(15), #temoignages > h2{
        margin: 0;
    }

    #section{
        background-image: url(picture/responsive.webp);
    }

    body{
        background-image: url(picture/responsive.webp);
        margin: 0;
       
        background-repeat: no-repeat;
    }

    header{
        width: 100px;
    }

    header > p:first-child{
        margin-left: 1.875rem;
    }

    #wrapper1{
        width: 375px;
        display: block;
        margin-top: 3.6394rem;
      
    }

    #fullstack{
        display: grid;
        grid-template-columns: 19.6875rem;
        grid-template-rows: 27.5rem;
        margin-bottom: 0;
        margin-left: 1.4875rem;
    }
    
    #fullstack > *, #company > *, #client, #flex > .button{
        grid-row-start: 1;
        grid-column-start: 1;
        margin: 0;
    }


    #fullstack > .line{
        margin-left: 0.3875rem;
        margin-top: 2.0069rem;
    }

    #fullstack > p:nth-child(3){
        font-size: 2.5rem;
        margin-top: 2.0069rem;
    }

    #fullstack > h1:nth-child(4){
        margin-top: 6rem;
    }

    #fullstack > .little:nth-child(5){
        width: 315px;
        margin-top: 13.625rem;
    }

    #fullstack > .little:nth-child(6){
        margin-top: 336px;
        width: 315px;

    }

    #flex {
        margin-top: 24.5194rem;
    }

    #client{
        display:block;
        width: 350px;
        text-align: left;
        margin-top: 4.2062rem;
    }

    #client > p{
        margin-left: 2.0625rem;
    }

    #company{
        display: grid;
        grid-template-columns: 21.875rem;
        grid-template-rows: 14.3812rem;
    }

    #company > img:first-child{
        margin-top: 2.8256rem;
        margin-left: 3.25rem;
    }

    #company > img:nth-child(2){
        margin-top: 1.3494rem;
        margin-left: 14.1031rem;
    }

    #company > img:nth-child(3){
        margin-top: 7.0137rem;
        margin-left: 0.5231rem;
    }

    #company > img:nth-child(4){
        margin-top: 6.9575rem;
        margin-left: 11.8837rem;
    }

    #company > img:nth-child(5){
        margin-top: 12.875rem;
        margin-left: 2.2781rem;
    }

    #company > img:nth-child(6){
        margin-top: 12.94rem;
        margin-left: 11.8837rem;
    }

    #competences {
        margin-top: 3.8125rem;
        margin-left: 1.7406rem;
    }

    #competences > .line{
        margin-top: 0.5625rem;
        margin-left: 0.3219rem;
    }

    #competences > p{
        width: 312px;
        margin-top: 1.2625rem;
        margin-left: 0.6156rem;
        text-align: left;
    }

    #skill{
        display: flex;
        flex-direction: column;
    }

    #skill > #technique, #skill > #management, #skill > #langues, #skill > #gestion {
        margin-top: 2.6375rem;
        margin-left: 2.3994rem;
    }

    #technique > h4:nth-child(2), #management > h4:nth-child(2), #langues > h4:nth-child(2), #gestion > h4:nth-child(2){
        margin-top: 0.5938rem;
    }

    #skill > div {
        width: 265px;
    }

    #wrapperfolio{
        display: block;
        margin-top: 3.0675rem;
        margin-left: 1.8444rem;
    }

    #wrapperfolio > img, #wrapperfolio > .line, #wrapperfolio > .paragraph, #wrapperfolio > img:nth-child(5), #wrapperfolio > img:nth-child(7), #wrapperfolio > img:nth-child(8), #wrapperfolio > img:nth-child(9){
        margin-top: 1.7612rem;
    }

    #wrapperfolio > img:nth-child(4) {
        margin-top: 2.5675rem;
    }

    #wrapperfolio > h2, #wrapperfolio > .line, #wrapperfolio > .paragraph{
        margin-left: 0.5rem;
    }

    #wrapperfolio > .line{
        margin-top: 0.0625rem;
        margin-left: 0.625rem;
    }

    #wrapperfolio > .paragraph{
        margin-top: 1.625rem;
    }

    #wrapperfolio > img{
        margin-top: 1.7612rem;
    }

    #containerexperience{
        width: 300px;
        display: block;
        margin-top: 3.8125rem;
        margin-left: 1.875rem;
    }

    #containercv{
        width: 300px;
        margin-top: 2.9375rem;
    }

    #containerexperience > .button{
        width: 12.125rem;
        margin-top: 2.9375rem;
    }

    #experience{
        width: 250px;
    }

    .cv{
        width: 300px;
        border-bottom: none;
        margin: 0;
    }

    #containercv > .cv:first-child{
        grid-template-rows: 6.8125rem;
    }

    #containercv > .cv:nth-child(2) {
        grid-template-rows: 6.8125rem;
    }
    
    #containercv > .cv:nth-child(3) {
        grid-template-rows: 3.6875rem;
    }

    .cv > h6 {
        width: 250px;
        margin-top: 0.1875rem;
    }

    .cv > h3 {
        width : 250px;
        margin-top: 2.0625rem;
    }

    #temoignages{
        display: block;
        margin-top: 3.75rem;
        margin-left: 2rem;
    }

    #temoignages > h2{
        width: 240px;
        text-align: left;
    }

    #temoignages > .line:nth-child(2){
        margin-top: 0.875rem;
        margin-left: 0.1875rem;
    }

    #temoignages > p:nth-child(3){
        width: 299.5px;
        margin-top: 2.4375rem;
        margin-left: 0.5rem;
    }

    #temoignages > p:nth-child(5) {
        margin-top: 1.9375rem;
        margin-left: 0.5rem;
    }

    #temoignages > p:nth-child(6) {
        margin-top: 0.625rem;
        margin-left: 0.5rem;
    }

    #actualites{
        display: block;
        margin-top: 3.8125rem;
        margin-left: 1.9375rem;
    }
    
    #actualites > .line{
        margin-top: 1.125rem;
        margin-left: 0.1875rem;
    }

    #actualites > h6 {
        margin-top: 1.9375rem;
    }

    #actualites > h3{
        width: 300px;
        margin-top: 0.625rem;
    }

    #actualites > .paragraph{
        width: 209px;
        margin-top: 1.125rem;
    }

    #actualites > .paragraph:nth-child(11) {
        width: 298px;
        word-wrap: break-word;
    }

    #contact{
        width: 340px;
        display: grid;
        grid-template-columns: 2.9219rem 19.4375rem;
        grid-template-rows: 22.8125rem 46.5313rem;
        margin-top: 3.8237rem;
        margin-left: 1.8306rem;
        margin-bottom: 8.5rem;
    }

    #contact > h6, #contact > .info:nth-child(12), #contact > .paragraph:nth-child(13),#contact > .contour:nth-child(14), #contact > .contour:nth-child(15), #contact > .contour:nth-child(16), #contact > .textcontour:nth-child(17), #contact > .textcontour:nth-child(18), #contact > .textcontour:nth-child(19), #contact > .button{

        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    #contact > h2{
        grid-column-end: 1;
        margin-top: 0rem;
    }
    
    #contact > .titreinfo{
        width: 250px;
    }

    #contact > .info{
        width: 250px;
    }

    #contact > img:nth-child(2){
        margin-top: 5.375rem;
    }

    #contact > .titreinfo:nth-child(3){
        margin-top: 5.625rem;
    }

    #contact > .info:nth-child(4){
        width: 186px;
        font-size: 1rem;
        margin-top: 7.5rem;
    }

    #contact > img:nth-child(5){
        margin-top: 13.25rem;
    }

    #contact > .titreinfo:nth-child(6){
        margin-top: 13.1875rem;
    }

    #contact > .info:nth-child(7){
        width: 227px;
        font-size: 1rem;
        margin-top: 14.8125rem;
    }

    #contact > img:nth-child(8){
        margin-top: 18.9375rem;
    }

    #contact > .titreinfo:nth-child(9){
        margin-top: 19.1875rem;
    }

    #contact > .info:nth-child(10){
        width: 186px;
        font-size: 1rem;
        margin-top: 20.8125rem;
    }

    #contact > .info:nth-child(12){
        width: 277px;
        margin-top: 2.59rem;
        margin-left: 0.4063rem;
    }

    #contact > .paragraph:nth-child(13){
        width: 281.5px;
        margin-top: 9.9375rem;
        margin-left: 0.4063rem;
    }

    #contact > .contour:nth-child(14){
        width: 308.21px;
        margin-top: 20.2937rem;
    }

    #contact > .contour:nth-child(15){
        width: 308.21px;
        margin-top: 26.2106rem;
    }

    #contact > .contour:nth-child(16){
        width: 308.21px;
        margin-top: 31.6969rem;
    }

    #contact > .textcontour:nth-child(17){
        width: 73px;
        margin-top: 19.5431rem;
    }

    #contact > .textcontour:nth-child(18){
        width: 78px;
        margin-top: 25.4606rem;
        margin-left: 0.9375rem;
    }
    
    #contact > .textcontour:nth-child(19){
        width: 73px;
        margin-top: 30.9469rem;
    }

    #contact > .button{
        margin-top: 43.4263rem;
    }

    #contact > h2, #contact > img{
        margin-left: 0.2969rem;
    }

}
