:root{
    font-size: 100%;
    --color-red : #BB2323;
    --color-grey : #BFBFBF;
    --color-orange: #F87F28;
    --color-white: #fff;
}


body{
    background-image: url(picture/Geeknius\ Dark.png);
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    margin: 0;
}

header > p:first-child{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: var(--color-white);
    margin: 0;
    margin-top: 22px;
    margin-left: 62px;
}

.little{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-white);
}

header > img:nth-child(2){

}