:root{
    font-size: 100%;
    --color-red : #BB2323;
    --color-gray : #BFBFBF;
    --color-gray2 : #828282;
    --color-orange: #F87F28;
    --color-white: #fff;
    --color-dark-gray: rgba(173, 181, 189, 0.16);
    --color-dark-gray2: #2C2C2C;
    --color-dark-gray3: #232323;


}


body{
    background-image: url(picture/Geeknius\ Dark.png);
    margin: 0;
    width: 1860px;
    background-repeat: no-repeat;
    
}

header{
    display: flex;
    align-items: center;
    margin: 0;
}

header > p:first-child{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: var(--color-white);
    margin: 0;
    margin-top: 22px;
    margin-left: 62px;
}

.little{
    width: 441px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-white);
    margin: 0;
}

.paragraph{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-white);
    margin: 0;
}

header > img:nth-child(2){
    margin: 0;
    margin-top: 31px;
    margin-left: 97px;
}

header > p:nth-child(3){
    margin: 0;
    margin-top: 30px;
    margin-left: 7px;
}

header > img:nth-child(4){
    margin: 0;
    margin-top: 33px;
    margin-left: 73px;
}

header > p:nth-child(5){
    margin: 0;
    margin-top: 30px;
    margin-left: 14px;
}

header > img:nth-child(6){
    margin: 0;
    margin-left: 1033px;
}

#fullstack > p {
    margin: 0;
}

#fullstack{
    margin: 0;
    margin-top: 6px;
    margin-bottom: 19px;
    
}

#fullstack > p:first-child {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--color-white);
    margin: 0;
    margin-left: 5px;
    
}

.line{
    width: 73px;
    border-top: 3px solid var(--color-orange);
    margin: 0;
    margin-left: 6px;
    margin-top: 13px;
}

#fullstack > p:nth-child(3){
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--color-white);
    font-size: 72px;
    line-height: 100.8px;
    letter-spacing: -3px;
    margin: 0;
    margin-top: 20px;
}

h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: var(--color-orange);
    font-size: 72px;
    line-height: 100.8px;
    letter-spacing: -1px;
    margin: 0;
    margin-top: 2px;
    margin-left: 2px;
}

#fullstack > .paragraph:nth-child(5){
    width: 441px;
    margin: 0;
    margin-top: 16px;
    margin-left: 5px;
}

#fullstack > .paragraph:nth-child(6){
    margin: 0;
    margin-top: 24px;
    margin-left: 5px;
}

.button > a {

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    border-radius: 50px;
    margin: 0;
    padding: 12px 32px 11px 32px  ;
    
    box-sizing: border-box;
    width: 123px;
    background-color: var(--color-red);
    color : var(--color-white);
    display: inline-block;
  
  
}

#flex{
    display: flex;
   
} 

#flex > .button{
    margin: 0;
    margin-top: 60px;
    margin-bottom: 19px;
}

#flex > .button:last-child > a{
    
    width: 131px;
    margin: 0;
    margin-left: 23px;
    background-color: transparent;
    border: 2px solid var(--color-orange);
    color: var(--color-orange);
    padding: 10px 29px 9px 35px ;
}

#wrapper1{
    width: 1473px;
    display: grid;
    grid-template-columns: 708px 765px;
    grid-template-rows: 526px 353px;
    margin: 0;
    margin-top: 90px;
    margin-left: 386px;
}

#client{
    display:block;
    width: 1042px;
    text-align: center;
    margin-top: 214px;
    margin-left: 56.4px;
}

#client > p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 30.72px;
    letter-spacing: 3px;
    color: var(--color-gray);
    text-transform: uppercase;
    margin: 0;
}

#company > img:first-child{
    margin: 0;
    margin-top: 24,8px;
    margin-bottom: 46.84px;
}

#company > img:nth-child(2){
    margin: 0;
    margin-top: 7.53px;
    margin-left: 60.21px;
    margin-bottom: 32.98px;
}

#company > img:nth-child(3){
    margin: 0;
    margin-top: 5px;
    margin-left: 22.5px;
    margin-bottom: 11px;
}

#company > img:nth-child(4){
    margin: 0;
    margin-top: 4.27px;
    margin-left: 13.15px;
    margin-bottom: 9.73px;
}

#company > img:nth-child(5){
    margin: 0;
    margin-top: 38px;
    margin-left: 42.6px;
    margin-bottom: 46px;
}

#company > img:nth-child(6){
    margin: 0;
    margin-top: 39.5px;
    margin-left: 32.06px;
    margin-bottom: 45.5px;
}

h4{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22.4px;
    color: var(--color-white);
    margin: 0;
    margin-top: 19px;
    margin-bottom: 16px;
    
}

#skill{
    display: flex;
    margin: 0;
    margin-top: 116px;
    margin-left: 403px;

}

h2{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 60px;
    color: var(--color-white);
    margin: 0;
}

#competences > h2{
    
    width: 249px;
    margin: 0;
    margin-top: 212px;
    margin-left: 809px;
    
  
}

#competences > .line{
    margin-top: 9px;
    margin-left: 894px;
}

#competences > p{
    width: 342px;
    margin: 0;
    margin-left: 762px;
    margin-top: 36px;
    text-align: center;
}



#technique{
    width: 194px;
}

#gestion{
    width: 176px;
    margin-left: 93px;
}

#management{
    width: 191px;
    margin-left: 112px;
}

#langues{
    width: 195px;
    margin-left: 97px;
}

#wrapperfolio{
    display: grid;
    grid-template-columns: 380px 731px;
    grid-template-rows: 290px 288px 264px;
    margin: 0;
    margin-top: 324px;
    margin-left: 375px;
    
}

#wrapperfolio > h2, #wrapperfolio > .line, #wrapperfolio > .paragraph{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#wrapperfolio > img:nth-child(4) , #wrapperfolio > img:nth-child(5){
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
} 

#wrapperfolio > img:nth-child(6) , #wrapperfolio > img:nth-child(7){
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
} 

#wrapperfolio > img:nth-child(8) , #wrapperfolio > img:nth-child(9){
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
} 

#wrapperfolio > img:nth-child(4){
    margin: 0;
    margin-top: 3px;
}

#wrapperfolio > img:nth-child(5){
    margin: 0;
    margin-left: 504px;
}

#wrapperfolio > img:nth-child(7){
    margin: 0;
    margin-bottom: 24px;
    margin-left: 252px;
}

#wrapperfolio > img:nth-child(9){
    margin: 0;
    margin-left: 373px;
}

#wrapperfolio > .line{
    margin: 0;
    margin-top: 65px;
    margin-left: 2px;
}

#wrapperfolio > .paragraph{
    width: 296px;
    margin: 0;
    margin-top: 97.21px;
    margin-left: 7px;
}

#experience > h2{
    width: 249px;
    margin: 0;
    margin-top: 35px;
   
}
#experience > .line{
    margin: 0;
    margin-top: 16px;
}
#experience > .paragraph:nth-child(3){
    width: 242px;
    margin: 0;
    margin-top: 31px;
}

#containerexperience > .button > a {
    font-family: 'Inter', sans-serif;
    padding: 12px 32px 11px 32px;
    width: 194px;
    text-align: center;
}

#containerexperience > .button{
    margin: 0;
    margin-top: 285px;
    grid-row-start: 1;
    grid-column-start: 1;
}

h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16.8px;
    color: var(--color-white);
    text-transform: uppercase;
    margin: 0;
    margin-top: 7px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    letter-spacing: 2px;

}

h3{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: var(--color-white);
    text-transform: capitalize;
    margin: 0;
    margin-top: 36px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.cv > img{
    margin: 0;
    margin-top: 7px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.cv > .paragraph{
    width: 302px;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.cv{

    display: grid;
    grid-template-columns: 51px 323px 373px;
    grid-template-rows: 135px 1px;
    width: 747px;
    border-bottom: 1px solid var(--color-dark-gray);
 
    
}

#experience{
    width: 365px;
    margin: 0;
    grid-column-start: 1;
    grid-row-start: 1;

}

#containercv{
    width: 747px;
    margin: 0;
    box-sizing: border-box;
    grid-column-start: 2;
}

#containerexperience{
    display: grid;
    margin: 0;
    margin-top: 202px;
    margin-left: 390px;
    grid-template-columns: 365px 748px;
}

#containercv > .cv:first-child{
    margin-top: 0px;
}

#containercv > .cv:nth-child(2){
    margin-top: 35px;
}

#containercv > .cv:nth-child(3){
    margin-top: 33px;
}



.textblock{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-white);
    margin: 0;
    margin-top: 18px;
    margin-bottom: 18px;
}

.block{
    
background-color: var(--color-dark-gray2);
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
}

.buttonblock{
    font-family: 'inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    border-radius: 12px;
    margin: 0;

    
    box-sizing: border-box;
    width: 55px;
    background-color: var(--color-orange);
    color : var(--color-dark-gray2);
    display: inline-block;
    text-align: center;
}

.textblock{
    margin: 0;
    margin-top: 18px;
    margin-bottom: 18px;

}

#competences2{
    display: grid;
    grid-template-columns: 299px 469px 335px;
    grid-template-rows: 68px 84px 84px 84px;
    margin-top: 278.36px;
    margin-left: 390px;
}

#competences2 >:nth-child(4){
    width: 299px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    margin-top: 8px;
}

#competences2 >:nth-child(4) > .textblock{
    width: 93px;
    margin-left: 32px;
    margin-right: 49px;
}

#competences2 >:nth-child(5){
    width: 350px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    margin-left: 25px;
    margin-top: 8px;
}

#competences2 >:nth-child(5) > .textblock{
    width: 42px;
    margin-left: 23px;
    margin-right: 163px;
}

#competences2 >:nth-child(6){
    width: 226px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    margin-top: 24px;
}

#competences2 >:nth-child(6) > .textblock{
    width: 72px;
    margin-left: 26px;
    margin-right: 8.1px;
}

#competences2 >:nth-child(7){
    width: 301px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 251px;
    margin-top: 24px;
}

#competences2 >:nth-child(7) > .textblock{
    width: 90px;
    margin-left: 31.6px;
    margin-right: 53px;
}

#competences2 >:nth-child(8){
    width: 287px;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    margin-top: 24px;
    
}

#competences2 >:nth-child(8) > .textblock{
    width: 96px;
    margin-left: 30px;
    margin-right: 46px;
}

#competences2 >:nth-child(9){
    width: 287px;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    margin-left: 23px;
    margin-top: 24px;
}

#competences2 >:nth-child(9) > .textblock{
    width: 116px;
    margin-left: 28.71px;
    margin-right: 26px;
}

#competences2 >:nth-child(10){
    width: 482px;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 24px;
}

#competences2 >:nth-child(10) > .textblock{
    width: 68px;
    margin-left: 32px;
    margin-right: 257px;
}

#competences2 > h2{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
    margin-top: 28px;
}

#competences2 > .paragraph{
    width: 367px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
    margin-top: 68px;
    }
  
#competences2 > .line{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
    margin-top: 29px;
}



#temoignages{
    display: grid;
    grid-template-columns: 170px 677px;
    grid-template-rows: 143px 134px 72.4px;
    margin: 0;
    margin-top: 258px;
    margin-left: 502px;
}

#temoignages > h2{
    width: 419px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 0;
    margin-left: 49px;
    text-align: center;
}

#temoignages > img:last-child{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;

}


#temoignages > img:nth-child(7){
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    margin: 0;
    margin-top: 14px;
    margin-left: 10px;
}



#temoignages > p:nth-child(3){
    width: 677px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 35.7px;
    color: var(--color-white);
    font-style: italic;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 0;
    
}

#temoignages > p:nth-child(5){
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
    color: var(--color-white);
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 0;
    margin-top: 20.36px;
    
}

#temoignages > p:nth-child(6){
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22.4px;
    color: var(--color-white);
    letter-spacing: 0.5px;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 0;
    margin-top: 51.36px;
}

#temoignages > .line:nth-child(2){
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 0;
    margin-top: 73px;
    margin-left: 222px;
}

#temoignages > .line:nth-child(4){
    width: 38px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 0;
    margin-top: 132px;
}


#actualites{
    display: grid;
    grid-template-columns: 267.7px 751px;
    grid-template-rows: 18.65px 26.32px 39.27px 87.32px 22.58px 38.27px 86.91px 22.58px 38.27px 48px;
    margin-top: 296.81px;
    margin-left: 383px;
}

#actualites > h2{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    margin: 0;
}

#actualites > h6{
    color: var(--color-orange);
    margin: 0;
}

#actualites > h3{
    margin: 0;
}

#actualites > .line{
    margin: 0;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    margin-top: 33.17px;
}

#actualites > .paragraph{
    width: 522px;
    margin: 0;

}

#actualites > h6:nth-child(3){
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
   
}

#actualites > h3:nth-child(4){
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
   
}

#actualites > p:nth-child(5){
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 2;
   
}



#actualites > h6:nth-child(6){
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 2;
  
}

#actualites > h3:nth-child(7){
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 2;
}

#actualites > p:nth-child(8){
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 2;
}

#actualites > h6:nth-child(9){
    grid-row-start: 8;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 2;
}

#actualites > h3:nth-child(10){
    grid-row-start: 9;
    grid-row-end: 9;
    grid-column-start: 2;
    grid-column-end: 2;
}


#actualites > p:nth-child(11){
    grid-row-start: 10;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 2;
}

#contact > .titreinfo{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-orange);
    letter-spacing: -1%;
    margin: 0;
    text-transform: capitalize;
}

#contact > .info{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-white);
    letter-spacing: -1%;
    margin: 0;
}

#contact > .textcontour{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 23.8px;
    color: var(--color-white);
    background-color: var(--color-dark-gray3);
    height: 24px;
    margin: 0;
    padding-left: 3px;
    padding-right: 8px;
}

#contact > .button > a {
    font-family: 'Inter', sans-serif;
    padding: 11px 32px 12px 32px;
    width: 165px;
    text-align: center;
}

#contact{
    display: grid;
    grid-template-columns: 42px 528px 540px;
    grid-template-rows: 465px 47px;
    margin-top: 396.64px;
    margin-left: 402px;
    margin-bottom: 136px;
}

#contact > h2{
    color: var(--color-gray);
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 0;
    margin-top: 35px;
}

#contact img{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

#contact > .info , #contact > .titreinfo{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 0;
    margin-left: 24px;
}

#contact > .info:nth-child(12), #contact > .paragraph, #contact >.textcontour, #contact > .contour, #contact > h6{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
    margin: 0;
} 

#contact > .button{
    margin: 0;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
}

#contact > .contour:nth-child(14){
    width: 253px;
    height:50px;
    margin: 0;
    margin-top: 208px;
}

#contact > .contour{
    border: 1px var(--color-gray2) solid;
    border-radius: 4px;
}

#contact > .contour:nth-child(15){
    width: 251px;
    height:50px;
    margin-top: 208px;
    margin-left: 289px;
}

#contact > .contour:nth-child(16){
    width: 540px;
    height: 155px;
    margin-top: 282px;
}

#contact > img:nth-child(2){
    margin-top: 121px;
}

#contact > img:nth-child(5){
    margin-top: 272px;
}

#contact > img:nth-child(8){
    margin-top: 383px;
}

#contact > .titreinfo:nth-child(3){
    margin-top: 125px;
    
}

#contact > .titreinfo:nth-child(6){
    margin-top: 276px;
}

#contact > .titreinfo:nth-child(9){
    margin-top: 387px;
}

#contact > .info:nth-child(4){
    width: 288px;
    margin-top: 155px;
}

#contact > .info:nth-child(7){
    margin-top: 302px;
}

#contact > .info:nth-child(10){
    margin-top: 413px;
}

#contact > .info:nth-child(12){
    margin-top: 29px;
}

#contact > .paragraph:nth-child(13){
    margin-top: 105px;
}

#contact > .textcontour:nth-child(17){
    width: 78px;
    margin-top: 195px;
    margin-left: 15px;
}

#contact > .textcontour:nth-child(18){
    width: 77.24px;
    margin-top: 195px;
    margin-left: 303.76px;
}

#contact > .textcontour:nth-child(19){
    width: 70px;
    margin-top: 269px;
    margin-left: 15px;
}


@media (max-width: 374.99px) {

    header > img:nth-child(2), header > .little, header > img:nth-child(4), #olivier > img:first-child, .cv > .paragraph, #competences2, #temoignages > .line:nth-child(4), #temoignages > img, header > img:nth-child(6){
        display: none;
    }

    body{
        background-image: url(picture/responsive.png);
        margin: 0;
        width: 375px;
        background-repeat: no-repeat;
    }

    header > p:first-child{
        margin-left: 30px;
    }

    #wrapper1{
        width: 375px;
        display: block;
        margin: 0;
        margin-top: 58.23px;
      
    }

    #fullstack{
        display: grid;
        grid-template-columns: 315px;
        grid-template-rows: 440px;
        margin-bottom: 0;
        margin-left: 23.8px;
    }
    
    #fullstack > *, #company > *, #client, #flex > .button{
        grid-row-start: 1;
        grid-column-start: 1;
        margin: 0;
    }


    #fullstack > .line{
        margin-left: 6.2px;
        margin-top: 32.11px;
    }

    #fullstack > p:nth-child(3){
        font-size: 40px;
        margin-top: 32.11px;
    }

    #fullstack > h1:nth-child(4){
        margin-top: 96px;
    }

    #fullstack > .little:nth-child(5){
        width: 315px;
        margin-top: 218px;
    }

    #fullstack > .little:nth-child(6){
        margin-top: 336px;
    }

    #flex {
        margin-top: 392.31px;
    }


    #client{
        display:block;
        width: 350px;
        text-align: left;
        margin-top: 67.3px;
        margin-left: 0;
    }

    #client > p{
        margin-left: 33px;
    }

    #company{
        display: grid;
        grid-template-columns: 350px;
        grid-template-rows: 230.1px;
    }

    #company > img:first-child{
        margin-top: 45.21px;
        margin-left: 52px;
    }

    #company > img:nth-child(2){
        margin-top: 21.59px;
        margin-left: 225.65px;
    }

    #company > img:nth-child(3){
        margin-top: 112.22px;
        margin-left: 8.37px;
    }

    #company > img:nth-child(4){
        margin-top: 111.32px;
        margin-left: 190.14px;
    }

    #company > img:nth-child(5){
        margin-top: 206px;
        margin-left: 36.45px;
    }

    #company > img:nth-child(6){
        margin-top: 207.04px;
        margin-left: 190.14px;
    }

    #competences, #competences > h2, #competences > .line, #competences > p{
        margin:0;
    }

    #competences {
        margin-top: 72.36px;
        margin-left: 27.85px;
    }

    #competences > .line{
        margin-top: 9px;
        margin-left: 5.15px;
    }

    #competences > p{
        width: 312px;
        margin-top: 20.2px;
        margin-left: 9.85px;
        text-align: left;
    }

    #skill{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    #skill > #technique, #skill > #management, #skill > #langues, #skill > #gestion {
        margin: 0;
        margin-top: 42.2px;
        margin-left: 38.39px;
    }

    #technique > h4:nth-child(2), #management > h4:nth-child(2), #langues > h4:nth-child(2), #gestion > h4:nth-child(2){
        margin-top: 9.5px;
    }

    #skill > div {
        width: 265px;
    }

    #wrapperfolio{
        display: block;
        margin: 0;
        margin-top: 49.08px;
        margin-left: 29.51px;
    }

    #wrapperfolio > img, #wrapperfolio > .line, #wrapperfolio > .paragraph, #wrapperfolio > img:nth-child(5), #wrapperfolio > img:nth-child(7), #wrapperfolio > img:nth-child(8), #wrapperfolio > img:nth-child(9){
        margin: 0;
        margin-top: 28.18px;
    }


    #wrapperfolio > img:nth-child(4) {
        margin-top: 41.08px;
    }

    #wrapperfolio > h2, #wrapperfolio > .line, #wrapperfolio > .paragraph{
        margin-left: 8px;
    }

    #wrapperfolio > .line{
        margin-top: 1px;
        margin-left: 10px;
    }

    #wrapperfolio > .paragraph{
        margin-top: 26px;
    }

    #wrapperfolio > img{
        margin-top: 28.18px;
    }

    #containerexperience{
        display: block;
        margin: 0;
        margin-top: 83.35px;
        margin-left: 30px;
    }

    #experience > h2 {
        margin: 0;
    }
    


 }
    
